html {
	overflow-y: scroll;
}

body {
	font-family: "Gill Sans", "Proxima Nova", Helvetica, Arial, sans-serif;
	font-size: 100%; 
	line-height: 1.7em; 
	background-color: #344155;
	margin: 0;
	float: left;
	min-width: 320px;
}

/* =============================================================================
	SIDEBAR
============================================================================= */
#sidebar {
	width: 230px;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin: 0;

}
#sidebar h2 {
	padding: 10px 10px 0px;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

#profile_pic {
	width: 70px;
	float: left;
}
#profile_info {
	margin-left: 70px;
	padding-top: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#sidebar li a.active {
    background-color: #495668;
    color: white;
}

#sidebar li a:hover:not(.active) {
    background-color: #495668;
    color: white;
}

/* =============================================================================
	HEADER
============================================================================= */
#header {
	left: 230px;
	height: 57px;
	width: calc(100% - 230px);
	position: absolute;
	float: left;

	border-bottom: 1px solid #D9DEE4;	
	background-color: #EDEDED;
}

/* =============================================================================
	MAIN
============================================================================= */
#main {	
	top: 57px;
	left: 230px;
 	position: absolute;

	border-style: solid;
	border-color: #F7F7F7;
	border-width: 10px 20px;

	background-color: #F7F7F7;
}

#main .big-box {
	border: 10px;
	padding: 5px 20px;
	width: calc(100% - 40px);

	background-color: white;
	border: 1px dotted black;
	margin: 10px 0px;
}

#main .small-box {
	padding: 5px 20px;
	width: calc(45% - 40px);
	height: 300px;
	position: relative;;

	background-color: white;
	border: 1px dotted black;
	margin: 20px 0px;
}

#subgraph2 {
	margin-left: calc(45% - 40px);
}


